.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-in;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: transparent;
    z-index: 100;
    transition: var(--transition1);

    &.header-bg {
        background-color: #103246;
        width: 98%;
        margin: auto;
        margin: 1rem;
        border-radius: 15px;
        transition: var(--transition1);

        .navbar {
            height: 70px;
            transition: var(--transition1);

            .logo img {
                width: 180px;
                height: auto;
                transition: var(--transition1);
            }
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        transition: var(--transition1);

        .logo img {
            width: 200px;
            height: auto;
            transition: var(--transition1);
        }

        .hamburger {
            display: none;
            cursor: pointer;

            span {
                font-size: 50px;
                font-weight: 500;
            }
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;
        list-style: none;

        .btnDivMob {
            display: none;
        }

        .nav-item {
            padding: 0.5rem 1rem;
            font-size: 14px;
            font-weight: 300;
            transition: var(--transition1);

            a {
                color: white;
                text-decoration: none;

                &:hover,
                &:focus {
                    color: var(--color1);

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                        transform: translate(-50%);
                        background-color: var(--color1);
                        width: 5px;
                        height: 2px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.homeSection {
    .bgVideo {
        .videoTag {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .content {
        position: absolute;
        bottom: 70px;

        .title {
            font-weight: 400;
            color: var(--white);
            letter-spacing: 1px;
        }

        .actionBtn {
            background-color: var(--color1);
        }
    }
}

.contentSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding-top: 7.768rem;
    padding-bottom: 7.768rem;

    .headDiv {
        width: 51%;

        .title {
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 1.953rem;
            font-weight: 700;
        }

        @media (min-width: 768px) {
            .title {
                font-size: 2.441rem;
            }
        }
    }

    .contentDiv {
        width: 45%;

        .text {
            margin-top: 0;
        }

        .actionBtn {
            background-color: var(--color2);
        }
    }
}

.contentSection1 {
    padding-top: 4.768rem !important;
    padding-bottom: 4.768rem !important;
}

#bannerSection{
    position: relative;

    .bannerSection {
        position: sticky;
        top: 0;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        translate: var(--transition3);
    
        .custom-cursor {
            width: 20px;
            height: 20px;
            position: fixed;
            background-color: var(--color1);
            border-radius: 50%;
            pointer-events: none;
            transition: transform 0.2s ease;
            transform: translate(-50%, -50%);
            z-index: 1000;
            opacity: 0;
    
            /* &::before{
                content: '';
                width: 25px;
                height: 25px;
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.8);
            }
    
            &::after{
                content: '';
                width: 40px;
                height: 40px;
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.8);
            } */
        }
    
        .bgVideo {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            cursor: none;
    
            .videoTag {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }
    
        .contentDiv {
            color: var(--white);
            max-width: 400px;
    
            .text {
                font-size: 1.5rem;
            }
    
            .actionBtn {
                border: 1px solid var(--white);
                box-shadow: unset;
            }
        }
    }
}

.mapSection {
    max-width: 100%;

    .pin1 {
        width: 25px;
        position: absolute;
        top: 33%;
        left: 19%;
        animation: bounce2 2s ease infinite;
    }

    .pin2 {
        position: absolute;
        width: 25px;
        bottom: 32%;
        left: 26.5%;
        animation: bounce2 2s ease infinite;
    }

    .pin3 {
        width: 25px;
        position: absolute;
        top: 26%;
        left: 46.5%;
        animation: bounce2 2s ease infinite;
    }

    .pin4 {
        width: 25px;
        position: absolute;
        bottom: 42%;
        left: 48%;
        animation: bounce2 2s ease infinite;
    }

    .pin5 {
        width: 25px;
        position: absolute;
        bottom: 63%;
        right: 35%;
        animation: bounce2 2s ease infinite;
    }
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.companySection {
    display: flex;
    align-items: stretch;

    .imgDiv {
        width: 50%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .contentDiv {
        width: 50%;
        background-color: var(--color2);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 3rem;

        .count {
            margin: 1rem;
            width: 39%;
            color: var(--white);
            border: 1px solid #6786a3;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .number {
                padding: 1rem;
                margin-top: 0;
                font-size: 50px;

                span {
                    font-size: 50px;
                }

                .year {
                    display: block;
                    margin-top: 0.5rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

.footerSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .logo {
        img {
            width: 250px;
        }
    }

    .menuLink {
        .menu {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            .title {
                font-family: var(--fontFamily2);
                margin-bottom: 1rem;
                font-size: 1.2rem;
            }

            .link {
                margin-bottom: 0.5rem;
                font-size: 0.9rem;

                &:hover {
                    color: var(--color2);
                }
            }
        }

        .address {
            margin-bottom: 1rem;
            font-size: 0.9rem;
            line-height: 1.5;
            margin-top: 0;
        }
    }
}

.bottomSection {
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid var(--color1);

        p {
            margin-top: 0;
            font-size: 0.8rem;
        }

        a {
            font-size: 0.8rem;

            &:hover {
                color: var(--color2);
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .header {
        padding: 0;

        &.header-bg {
            width: 91%;
        }

        .navbar {
            width: 100%;
            height: 80px;
            padding: 0 1rem;
            z-index: 102;

            .logo img {
                width: 150px;
            }

            .hamburger {
                display: block;
                font-size: 30px;
                color: var(--white);
            }
        }

        .nav-menu {
            position: fixed;
            top: 0;
            left: -100%;
            flex-direction: column;
            justify-content: center;
            background-color: #103246;
            width: 100%;
            height: 100vh;
            z-index: 101;
            transition: 0.3s;
            text-align: center;

            &.active {
                left: 0;
            }

            .nav-item {
                padding: 0.5rem;
                font-size: 20px;

                a {
                    color: var(--white);
                }
            }
        }
    }

    .contentSection {
        display: block;

        .headDiv,
        .contentDiv {
            width: 100%;

            .text {
                margin-top: 1rem;
            }
        }
    }

    .companySection {
        flex-direction: column;

        .imgDiv {
            width: 100%;
        }

        .contentDiv {
            width: 100%;
            padding: 1rem;

            .count {
                width: 39%;

                .number {
                    font-size: 35px;

                    span {
                        font-size: 35px;
                    }

                    .year {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    .footerSection {
        flex-direction: column;

        .logo {
            img {
                width: 180px;
                margin-bottom: 2rem;
            }
        }

        .menuLink {
            &:nth-child(1) {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    .mapSection {
        .pin1 {
            width: 15px;
            top: 28%;
            left: 16%;
            animation: bounce2 2s ease infinite;
        }

        .pin2 {
            width: 15px;
            left: 24%;
            animation: bounce2 2s ease infinite;
        }

        .pin3 {
            width: 15px;
            top: 22%;
            left: 45%;
            animation: bounce2 2s ease infinite;
        }

        .pin4 {
            width: 15px;
            left: 47%;
            animation: bounce2 2s ease infinite;
        }

        .pin5 {
            width: 15px;
            right: 33%;
            animation: bounce2 2s ease infinite;
        }
    }
}